@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cantora+One&family=Rubik+Microbe&display=swap");
/*
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*/
.button {
  background-color: rgb(120 53 15);
}
.button:hover {
  background-color: #ffedd5;
  color: rgb(120 53 15);
  border: 0.3em solid rgb(120 53 15);
}
.navbar {
  margin: auto;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.grid {
  grid-template-columns: 2fr 1fr;
  margin-bottom: 50px;
}
.grid-home {
  grid-template-columns: 2fr 1fr;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 3fr 2fr; /* allocate more space to the first column and less to the second */
  }
}

@media (max-width: 1150px) {
  .upcoming-wrapper {
    display: none;
  }
  .allevents-wrapper {
    margin-right: 50px;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 900px) {
  .page-wrapper {
    flex-direction: column;
  }

  .card-client {
    order: -1;
  }
}

.grid-wrapper {
  position: relative;
}

.grid-profile {
  max-height: 525px;
  grid-template-columns: 2fr 2fr;
}

/* #volunteer_at {
  text-align: center;
} */

.allevents-wrapper {
  margin-left: 50px;
  position: relative;
  z-index: 0;
}

.upcoming-wrapper {
  position: fixed;
  top: 250px;
  left: 80%;
  transform: translateX(-50%);
  z-index: 1;
  overflow-y: auto;
  height: 400px;
  width: 700px;
  text-align: center;
}

.modal-wrapper {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 300px; /* set the width of the draggable area */
  height: 200px; /* set the height of the draggable area */
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-top-black {
  border-color: black;
  border-top-width: 1px;
}
.border-bottom-black {
  border-color: black;
  border-bottom-width: 1px;
}

.modal-content {
  background-color: #ffedd5; /* set the background color of the modal */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.brown-border {
  border-radius: 8px;
  border: 0.3em solid #78350f;
  max-height: 750px;
  overflow-x: hidden;
}

.modal-content-f {
  background-color: #0000005f; /* set the background color of the modal */
  backdrop-filter: blur(3px);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.theme-background-1 {
  background-color: #ffedd5; /* set the background color of the modal */
}
.modal-section {
  z-index: 2;
}

.home-section {
  margin-top: -5%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.home-paragraph {
  margin-bottom: 750px;
}

.login-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

@media screen and (max-width: 700px) {
  .upcoming-events-heading {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1150px) {
  .Nav {
    margin-right: 0;
  }
  .events-wrapperz {
    margin-right: 0;
  }
  .right-profile-grid {
    margin-right: 0;
  }
  .grid-profile {
    display: flex;
    flex-direction: column;
  }
  #cc {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 5%;
  }
  #nameclient {
    margin-right: 15px;
  }
  .name-client {
    margin-right: 10px;
  }
}

.flex.flex-col.justify-center {
  align-items: center;
  justify-content: center;
}
.center-please {
  align-items: center;
  justify-content: center;
  display: flex;
}

/* ======================================================================= */
/* Button Stuff */

.bounce-hover {
  transition: all 200ms cubic-bezier(0, 0, 1, 1);
}

.bounce-hover:hover {
  transform: translate(0, 0.375em);
}

.button-size-2 {
  padding-top: 0.3em;
  margin-left: -0.5em;
  width: 80px;
  height: 30px;
  min-width: 80px;
  min-height: 30px;
  font-size: 0.5rem;

  font-family: "Cantora One", sans-serif;
}

.button-size-1 {
  padding-top: 0.15em;

  width: 120px;
  height: 50px;
  min-width: 120px;
  min-height: 50px;

  font-size: 0.8rem;
  font-family: "Cantora One", sans-serif;
}

.brown-border {
  border-radius: 8px;
  border: 0.3em solid rgb(120 53 15);
}

*::before,
.pushme {
  font-weight: 700;
  background-color: rgb(120 53 15);
  border-radius: 0.6em;
  display: inline-block;
  transition: all 100ms cubic-bezier(0, 0, 1, 1);
  margin-left: 0.4em;
  margin-right: 1.5em;
}

/* Inner Small Size */

.pushme .inner-small {
  display: inline-block;
  background-color: #ffedd5;
  border-radius: 0.6em;
  border: 0.3em solid rgb(120 53 15);
  padding: 1em;
  cursor: pointer;
  text-transform: uppercase;
  user-select: none;
  transform: translate3d(0.6em, -0.6em, 0);
  transition: transform 240ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: 220ms;
}

.inner-small:hover {
  background: #e7d7c1;
}

.inner-small:active {
  transform: translate3d(0.2em, -0.22em, 0);
  transition: transform 120ms cubic-bezier(0.23, 1, 0.32, 1);
}

.pushme:has(> .inner-small:hover) {
  transform: translate(0, 0.275em);
}

/* Inner Regular Size */

.pushme .inner-reg {
  display: inline-block;
  background-color: #ffedd5;
  border-radius: 0.6em;
  border: 0.3em solid rgb(120 53 15);
  padding: 1em;
  cursor: pointer;
  text-transform: uppercase;
  user-select: none;
  transform: translate3d(0.6em, -0.6em, 0);
  transition: transform 240ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: 220ms;
}

.inner-reg:active {
  transform: translate3d(0, -0.19em, 0);
  transition: transform 120ms cubic-bezier(0.23, 1, 0.32, 1);
}

.pushme:has(> .inner-reg:hover) {
  transform: translate(0, 0.275em);
}

.inner-reg:hover {
  background: #e7d7c1;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80vw;
  text-align: center;
  transform: translate3d(-50%, -50%, 0);
}
.sig {
  position: fixed;
  bottom: 5px;
  right: 5px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 800;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.4);
}

/* ======================================================================= */

table {
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Cantora One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ecfccb;
  background-image: url("../images/ForestBackground.svg");
  overflow-x: hidden;
}

.volundeerly-font {
  font-family: "Cantora One", sans-serif;
}
table {
  overflow-x: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*  CARD STYLING */
.card-client {
  background: #ffedd5;
  margin-top: 20%;
  margin-left: 40%;
  width: 23rem;
  height: 30rem;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px solid rgb(120 53 15);
  box-shadow: 0 6px 10px #ffedd5;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.card-client:hover {
  transform: translateY(-10px);
}

.user-picture {
  overflow: hidden;
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  border: 4px solid rgb(120 53 15);
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.user-picture svg {
  width: 2.5rem;
  fill: currentColor;
}

.name-client {
  color: black;
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.name-client span {
  display: block;
  font-weight: 200;
  font-size: 16px;
}

#socialmedia {
  display: flex;
  align-items: center;
}

.social-media:before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background: #7cdacc;
}

.social-media a {
  position: relative;
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a svg {
  width: 1.1rem;
  fill: currentColor;
}

/*-- Tooltip Social Media --*/
.tooltip-social {
  background: #262626;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0.5rem 0.4rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -90%);
  transition: all 0.2s ease;
  z-index: 1;
}

.tooltip-social:after {
  content: " ";
  position: absolute;
  bottom: 1px;
  left: 50%;
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

.social-media a .tooltip-social:after {
  border-top-color: #262626;
}

.social-media a:hover .tooltip-social {
  opacity: 1;
  transform: translate(-50%, -130%);
}

.container {
  overflow: hidden;
}

.infinite-scrolling {
  background: url("https://static.vecteezy.com/system/resources/previews/001/928/973/original/rural-nature-road-scene-free-vector.jpg")
    repeat-x;
  height: 645px;
  width: 5760px; /* The image width times 3 */
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1920px, 0, 0); /* The image width */
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* VOlunteer stuff */
.volunteers-wrapper {
  max-height: 400px;
  overflow-y: auto;
  margin-top: 25%;
}

.eventcreate-wrapper {
  margin-right: 15%;
  margin-top: 10%;
}

/* Ratings */
